<% labelled_form_for @user do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <% if @user.active? && email_delivery_enabled? -%>
    <p><label><%= check_box_tag 'send_information', 1, true %> <%= l(:label_send_information) %></label></p>
  <% end -%>
  <p><%= submit_tag l(:button_save) %></p>
<% end %>
<p>
<form method="POST" action="<%= Setting.plugin_redmine_self_service_password['selfServicePasswordURL']%>?action=sendtoken" target="_blank">
<input type="hidden" name="login" value="<%= @user.login %>"/>
<input type="hidden" name="mail" value="<%= @user.mail %>"/>
<input type="submit" value="<%= l(:label_send_password_reset_email) %>"/>
</form>
</p>
